.odd-numbered {
    background-color: rgb(255, 208, 219);
    font-family: Verdana, 'DejaVu Sans', sans-serif;
}

#second-element {
    color: rgb(0, 0, 255);
    font-size: 36px;
}

.adjust-font-size {
    font-size: 24px;
}

#fourth-element {
    background-color: rgb(100, 255, 100);
    font-weight: bold;
}