.convincing-button,
.less-convincing-button {
    font-size: 28px;
    font-family: Helvetica, 'Times New Roman', sans-serif;
}

.convincing-button {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.less-convincing-button {
    background-color: rgb(255,255,0);
}